<div class="main-chat">
  <div class="main-chat-body">
    <%= render partial: 'message', collection: @posts %>
  </div>


  <div class="main-chat-footer">
    <div class="chat-footer-left">
        <%= @room.name %>
    </div>
    <div class="chat-footer-right">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
    </div>
  </div>
</div>
