

<!-- チャットボックス-->
<div class="side-bar-body">
<% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_posts_path(room) %>
      </div>
    </div>
  <% end %>
</div>
<div class="side-bar-footer">
  <div class="user-name">    
    <%= link_to current_user.name, edit_user_path(current_user) %>

  </div>
  <div class="new-chat">
    <%= link_to "＋", new_room_path %>
  </div>
</div>

