* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}
/* サイドバー */
.side-bar {
  width: 300px;
  height: calc(100vh - 100px);
}

.side-bar-body {
  background-color: white;
  height: calc(100vh - 220px);
  padding: 0 5px;
  overflow: scroll;
}

.room {
  padding: 20px 0 30px 0px;
  border-radius: px;
  background-color: #FDEFC3;
  border: 1px solid white;

}

.room-name {
  font-size: 30px;
  text-decoration: none;
  color: #1F232F;
  text-align: center;
}

.room-name a{
  color: black;
}


.side-bar-footer {
  background-color: white;
  height: 120px;
  width: 300px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.user-name a{
  font-size: 20px;
  color: #5F6367;
  text-decoration: none;
  margin-left: 20px;
}

.new-chat a{
  font-size: 30px;
  color: #5F6367;
  padding: 14px;
  border: 1px solid #5f6367;
  margin-right: 10px;
  text-decoration: none;
}





/* 右側*/
.main-chat {
  width: calc(100vw - 300px);
  height: calc(100vh - 100px)  

}
/* メインチャット画面 */

.main-chat-body {
  background-color: #FAFAFA;
  height: calc(100vh - 220px);
  padding: 46px 40px 0;
  overflow: scroll;
}
/* 画像引き伸ばし */
.item-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #5F6367;
  text-decoration: none;

}
.list {
  padding-left: 25px;
  margin-bottom: 50px;
  
}


/* フッター */
.main-chat-footer {
  background-color: white;
  margin: 0 40px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/

}

.chat-footer-left {
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}
.chat-footer-right {
  margin-top: 40px;
  margin-left: 60vw;
}

.chat-footer-right a {
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px 20px;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

